.nav{
	width:100%;
	height: 60px;
	margin:0 auto;
	background-color: #fff;
	border-bottom:1px solid #E7161A;
}
.nav .nav_left{
	float:left;
	margin-top: 10px;
	margin-left: 100px;
}
.nav_left img{
	width:150px;
}
.nav .nav_right{
	float:right;
}
.nav .nav_right div{
	float: left;
	padding:5px;
	margin-right: 20px;
}
.nav .nav_right div a{
	color:#b20822;
	font: :15px "微软雅黑";
	line-height: 50px;
}
.nav .nav_right .navrightd{
	margin-right: 100px;
}
.nleft a{
	color:#b20822;
	font: :15px "微软雅黑";
	line-height: 40px;
}
/*========*/
.contenttop{
	width:1024px;
	border:1px solid #eaeaea;
	background: #fafafa;
	padding:5px;
	padding-top: 10px;
	margin:0 auto;
	margin-top: 20px;
}
.contenttop img{
	width:50px;
	margin-left: 20px;
}
.contenttop span {
	font-size: 28px;
	margin-left: 20px;
}
.contenttop div{
	float: right;
}
.contenttop div a{
	display: inline-block;
	font-size: 15px;
	background: #e94740;
	color:#fff;
	line-height: 36px;
	padding-right: 10px;
	padding-left: 10px;
}
.contentbottom{
	width:1024px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.contentbottom p{
	font-size: 20px;
	padding: 10px;
	background: #eaeaea;
}
.contentbottomimg{
	float: left;
	height:305px;
	line-height: 305px;
}
.contentbottomimg img{
	width: 300px;
	height:216px;
}
.contentbottomright{
	float: right;
	width:700px;
	min-height:300px;
}
.contentbottomright ul{
	overflow: auto;
	height: 390px;
}
.top{
	line-height: 50px;
	padding-left: 50px;
}
.bottom div{
	float: left;
	line-height: 30px;
	width:200px;
	margin-left: 100px;
	color:#333;
}



.associate{
	width:600px;
	height:50px;
	margin:25px auto;
}
.associate button{
	font-size: 18px;
	width:600px;
	height:50px;
	background: #bb0101;
	color:#fff;
	border:0;
}




/*=======*/
.footer{
	width:100%;
	background-color: #4b4b4b;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer p{
	line-height: 20px;
	color:#eee;
	font-size: 12px;
	margin: 0;
}
.footer p span{
	padding-left:10px;
	padding-right:10px;
}