html,body{
	background: #f7f7f7;
}
input,button{
	border: 0;
}
p{
	margin-bottom: 0;
}
.active{
	display: none;
}
.wrap{
	width: 98%;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 70px;
}
.wrap2{
	background: #fff;
	padding: 0 1%;
	padding-top: 10px;
	min-height: 610px;
}
.oeinp{
	height: 28px;
	float: left;
	border: 1px solid #45b3fe;
	position:relative;
	display: none;
	border-radius: 3px;
	margin-left: 10px;
}
.oeinp .listwrap{
	width: 228px;
	position: absolute;
	left: 0px;
	background: #fff;
	border: 1px solid  #45b3fe;
	z-index: 100;
}
.oeinp .listwrap p{
	width:218px;
	padding-left: 10px;
	white-space: nowrap;
 	text-overflow: ellipsis;
	overflow:hidden;
}
.oeinp .listwrap p:hover{
	background: #3BB4F2;
	color: #fff;
	cursor: pointer;
}
.tab .tabbtn1,.tab .tabbtn2{
	border-radius: 3px;
	margin-right: 15px;
	cursor: pointer;
	width: 110px;
	height: 30px;
	font-size: 14px;
	color: #fff;
	float: left;
}
.tab .tabbtn{
	background: #ccc;
	color: #000;
}
.topselect{
	position: relative;
}
.addcar{
	background: #45b3fe;
	color: #fff;
	position: relative;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	float: right;
	padding: 0px 30px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
}
.tab .matching{
	float: right;
	border-radius: 3px;
	background: #fe4445;
	padding: 0px 30px;
	height: 32px;
	line-height: 32px;
	margin:0 30px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.toptitle{
	background: #f1f6fa;
	color: #1a84fc;
	margin-bottom: 0px;
	line-height: 45px;
	height: 45px;
	padding: 0 15px;
}
.back{
	background: #e89c44;
	float: right;
	padding: 5px 15px;
	border-radius: 3px;
	margin-top: 6px;
	margin-right: 5px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	cursor: pointer;
}
.tabbtn1,.tabbtn2{
	background: #45b3fe;
	color: #fff;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 0;
	cursor: pointer;
}
.oeinp input{
	height: 28px;
	background: #fff;
	line-height: 28px;
	width: 220px;
	padding-left: 10px;
	float: left;
	border: 0px;
	border-radius:3px 0 0 3px;
}
#btnsubmit{
	width: 60px;
	color: #fff;
	height: 100%;
	background: #45b3fe;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	font-size: 14px;
}
.input-text{
	padding: 5px 0 5px 10px;
	width: 200px;
	font-size: 12px;
}
.text-c tr{
	cursor: pointer;
}
.arrow{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-right:1px solid #2680fb;
	border-bottom:1px solid #2680fb;
	transform: rotate(-45deg);
	margin-right: 10px;
}
.none{
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	top: 0;
	line-height: 20px;
}
.slide{
	position: absolute;
	top: 25px;
	right: 40px;
	cursor: pointer;
}
.slide img{
	width: 24px;
	transform: rotate(180deg);
	transition: all 0.5s;
}
.slide .img{
	transform: rotate(0deg);
	transition: all 0.5s;
}
/*a:hover,a:focus{
	color: #e44444;
}*/
.add{
	color: #5082a7;	
}
.rem{
	color: #e44444;
}
.add:hover,.add:focus{
	color: #5082a7;
}
.delthis{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}
.oeadd{
	display: none;
}
/*匹配*/
.offer6.jpg{
	margin-top: 20px;
}
.div{
	background: #06c;
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	z-index: 10000;
}
.len{
	position: absolute;
	background: #fff;
	color: red;
	padding: 5px;
	border-radius: 50%;
	top: -5px;
	height: 10px;
	min-width: 10px;
	line-height: 10px;
	right: -5px;
}
.table-bordered th{
	border-left: 0px;
}
.table-bg thead th{
	background: #efefef;
}
.table-bordered th:first-child{
	border-left: 1px solid #ddd;
}
.zxf_pagediv{
	margin-top: 10px;
}
/*选车*/
.cartab{
	width: 21%;
	float: left;
	margin-right: 1.7%;
}
.cartab:last-child{
	margin-right: 0;
}
.tit{
	background: #1d1d37;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.tabwrap{
	border:1px solid #ccc;
	border-top: 0px;
	box-sizing: border-box;
	position: relative;
	height: 408px;
}
.cartype,.engine,.underpan,.year,.carname{
	overflow: auto;
	line-height: 25px;
}
.carove{
	overflow: auto;
	height: 408px;
	position: relative;
}
.sort_box{
	font-size: 13px;
	line-height: 25px;
	position: relative;
}
.initials{
	height: 408px;
	background: #fff;
}
.initials li{
	width: 20px;
	line-height: 18px;
	background: #ccc;
	margin-bottom: 1px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.initials li:hover{
	color: #fff;
}
.sort_letter{
	text-align: center;
}
.sort_box .sort_letter,.sort_box .sort_list,.tabwrap p{
	border-bottom:1px solid #ccc;
}
.num_name,.tabwrap p,.cartab p{
	padding-left:10px;
	cursor: pointer;
	position: relative;
	font-size: 13px;
	line-height: 30px;
}
.initials{
	position: absolute;
	top: 0;
	right: -1px;
}
.num_name:hover,.tabwrap p:hover{
	background:#9dcbec;
	color: #fff;
}
.this{
	background:#9dcbec;
	color: #fff;
}
.en,.un,.ye{
	width: 15%;
}
.cartabwrap,.oetabwrap{
	margin-top: 30px;
}
.meng{
	position: fixed;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
.tankuang{
	position: absolute;
	background: #fff;
	border-radius: 3px;
	width: 70%;
	top: 50%;
	left: 50%;
	height: 90%;
	transform: translate(-50%,-50%);
	padding-bottom: 20px;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
}
.shut{
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 24px;
	cursor: pointer;	
}
.shut:hover{
	color: #fff;
	background: red;
}
.tablewrap{
	width: 90%;
	margin:0 auto ;
	margin-top: 20px;
	min-height: 350px;
	height: 75%;
	overflow: auto;
	padding-bottom: 20px;
}
.table td{
	text-align: center;
}
.bottom{
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.bottom button{
	float: right;
}
.match{
	background: #3889c1;
	color: #fff;
	margin-right: 5%;
	margin-left: 30px;
}
.oetabwrap{
	display: none;
}
.oetabwrap .cartab{
	width: 23.5%;
	margin-right: 2%;
}
.oetabwrap .cartab:last-child{
	margin-right: 0;
}
.rem{
	color: red;
}
a:hover,a:focus{
	color: red;
}
.div{
	background: #5082a7;
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	z-index: 10000;
}