input,button{
	border: 0;
}
.active{
	display: none;
}
.wrap{
	width: 97%;
	margin: 0 auto;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 30px;
}
.title{
	font-weight: bold;
	border-left:2px solid #0b5dda ;
	padding-left: 5px;
}
.carselect{
	position: relative;
}
.carselect,.oeinp{
	background: #f8f8f8;
	padding: 8px 0;
	height: 28px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.carselect .box,#box{
	position: relative;
	float: left;
	height: 28px;
	margin-right: 8px;
	font-size: 12px;
	color: #9a9a9a;
}
.car input{
	line-height: 28px;
	width: 100%;
}
.carselect .year,.carselect .car,.carselect .cartype,.carselect .carname,.carselect .underpan,.carselect .engine,#box{
	border: 1px solid #c2c2c2;
	background: #fff;
	height:26px;
	line-height: 26px;
	padding: 0 15px 0 5px;
	width: 110px;
}
.carselect .year,.carselect .car,.carselect .cartype,.carselect .carname,.carselect .underpan,.carselect .engine{
	overflow: hidden;
}
#box{
	width: 140px;
	padding: 0 0 0 5px;
}
#box input{
	height: 26px;
	line-height: 26px;
	float: left;
}
.carselect .year{
	width: 60px;
}
.carselect .list,#suggest{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 28px;
	display: none;
	background: #fff;
	border: 1px  solid #c2c2c2;
	max-height: 200px;
	overflow: auto;
	border-top: 0px;
	box-sizing: border-box;
	font-size: 12px;
	color: #222;
}
.list p{
	margin: 0;
	font-size: 13px;
	cursor: pointer;
	line-height: 20px;
	padding-left: 5px;
}
.list p:hover{
	background: #2888f9;	
	color: #fff;
}
.carbtn,.oebtn,.matching{
	background: #2888f9;
	color: #fff;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 0;
}
.oebtn:hover{
	background: #2888f9;
	border: 0;
}
.carbtn,.oebtn{
	float: left;	
	font-size: 12px;
	cursor: pointer;
}
.oeinp input{
	height: 28px;
	background: #fff;
	line-height: 26px;
	border: 1px solid #c2c2c2;
	width: 160px;
	padding-left: 10px;
	float: left;
	margin-right: 8px;
}
.zxf_pagediv{
	margin-bottom: 20px;
}
.twocatalog{
	background: #f8f8f8;
	overflow: hidden;
	padding: 10px;
}
.inputwrap{
	margin: 10px 0;
}
#cataloginp{
	padding: 5px 0 5px 10px;
	width: 200px;
	font-size: 12px;
}
.catalogwrap{
	margin-top: 20px;
}
.one,.two{
	width: 170px;
	float: left;
	height: 200px;
	overflow: auto;
	border: 1px solid #c2c2c2;
	margin-right: 80px;
	margin-left: 20px;
	background: #fff;
	color: #505050;
	padding: 8px;
	cursor: pointer;
}
.one p,.two p{
	line-height: 30px;
	margin-bottom: 0;
}
.one .pclick,.two .pclick{
	color: #2680fb;
}
.text-c tr{
	cursor: pointer;
}
.pitch-on{
	background: #f5fafe;
}
