ul, ol {
    margin-bottom: 0px;
}
/*第二个板块*/
.contentwrap .content>.left,.contentwrap .content .center,.contentwrap .content .right,.left{
	background: #0d61a7;
	height: 375px;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.contentwrap .content .box{
	position: absolute;
	top: 42px;
	left: 10%;
	width: 93%;
	box-sizing: border-box;
	background: #fff;
	z-index: 100;
	border-radius: 4px;
	border: 1px solid #0c66b2;
	border-top: 0px;
	max-height: 200px;
	overflow: auto;
}
.contentwrap .content .box p{
	color: #000;
	font-size: 14px;
	line-height: 28px;
	min-height: 28px;
	padding-left: 8px;
	margin-bottom: 5px;
	white-space: nowrap; 
 	text-overflow: ellipsis; 
	overflow:hidden;
}
.sort_list:last-child p{
	margin: 0;
}
.contentwrap .content .box .p:hover{
	background: #B5C6E4;
	color: #fff;
	cursor: pointer;
}
.contentwrap .content .left,.left{
    padding: 20px 15px 0 15px; 
}
.contentwrap .content .lefttitle,.left .lefttitle{
	color: #f29724;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	position: relative;
	text-shadow: 1px 3px 8px #000;
}
.arrows{
	position: absolute;
	width: 16px;
	height: 16px;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	transform: rotateZ(45deg);
	right: 30px;
	top: 50%;
	margin-top: -8px;
}
.contentwrap .content .left .number,.left .number {
	margin-top: 40px;
}
.tab{
	font-size: 0;
	margin-top: 5px;
}
.tab span{
	font-size: 20px;
	width: 50%;
	text-align: center;
	display: inline-block;
	line-height: 40px;
	border-bottom: 1px solid #92afcf;
	color: #92afcf;
	cursor: pointer;
}
.tab .span{
	color: #fff;
	border-bottom: 1px solid #fff;
}
.contentwrap .content .left .number input,.left .number input{
	background: #fff;
	color: #000;
	text-align: center;
	line-height: 45px;
	height: 45px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
}
.number input{
	margin-bottom: 10px;
}
.number input:focus{
	box-shadow: 1px 1px 8px #ccc;
}
.contentwrap .content .left .btn1,.contentwrap .content .center .btn1,.left .btn1{
	width: 50%;
	background: #fff;
	border-radius: 8px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #165d9f;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	bottom: 30px;
	margin-left: -25%;
	left: 50%;
	cursor: pointer;
}
.contentwrap .content .left .btn1:hover,.contentwrap .content .center .btn1:hover,.left .btn1:hover{
	color: navy;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 6px 10px 0 rgba(0,0,0,0.19);
}
/*车型查询*/
.contentwrap .content .center{
	padding: 14px 15px 0 15px;
}
.contentwrap .content .center .carwrap,.carwrap2{
	background: #fff;
	border-radius: 5px;
	padding:7px 15px;
	color: #000;
	font-size: 18px;
	margin-top: 10px;
}
.carwrap ul li,.carwrap2 ul li{
 	border-bottom: 1px solid #0c66b2;
 	line-height: 42px;
 	position: relative;
 	height: 42px;
}
.carwrap ul li .lileft,.carwrap2 ul li .lileft{
	width: 30%;
	text-align: center;
	float: left;
}
.carwrap ul li .liright,.carwrap2 ul li .liright{
	width: 70%;
	float: left;
	color: #888;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 14px;
	cursor: pointer;
	white-space: nowrap;
    text-overflow: ellipsis;
	overflow：hidden;
}
.carwrap ul li .liright input,.carwrap2 ul li .liright{
	background: #fff;
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #000;
}

.carwrap ul li:last-child,.carwrap2 ul li:last-child{
	border-bottom: 0;
}
/*第三个*/
.right{
	padding: 30px;
}
.rightul{
	cursor: pointer;
}
.right .rightul .list{
	border-bottom: 2px solid #c6d6e5;
	color: #fff;
	padding: 7px 30px 10px;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
	position: relative;
}
.right .rightul .list:first-child{
	margin-top: 0;
}
.right .rightul .list .p2{
	color: #e6e7eb;
	font-size:16px ;
	line-height: 26px;
}
.right .rightul .list span{
	background: url(../img/arrows.png) no-repeat   #fff;
	background-size: 11px auto;
	background-position: center;
    background-size: 11px auto;
    border-radius: 6px;
    bottom: 10px;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 10px;
    width: 30px;
}
.carwrap ul li .liright.color{
	color: #000;
	overflow: hidden;
}
.sort_list{
	color: #000000;
	font-size: 14px;
	position: relative;
}
.sort_list .span{
	position: absolute;
	right: 4px;
	top: 0;
	line-height: 28px;
    min-height: 28px;
}
.meng{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	display: none;
}
.meng .left{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 370px;
}
.meng .none{
	display: block;
	width: 30px;
	height: 30px;
	background: #eaeaea;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.title{
	background: url(../img/titlebg.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	font-size: 18px;
	width: 200px;
	padding: 8px 0 4px;
	text-align: center;
	margin: 50px auto 30px;
}
.righttop{
	background: #ccc;
	color: #0d61a7;
	border-radius: 5px;
}
.righttop p{
	line-height: 26px;
	font-size: 18px;
}
.righttop .p{
	font-weight: bold;
	font-size: 26px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 8px;
}
.bottomrow{
	position: relative;
	margin-bottom: 70px;
}
.bottomrow .rightdiv,.bottomrow .leftdiv{
  margin-bottom: 15px;
}
.bottomrow .rightdiv{
	height: 100%;
}
.leftdiv img{
	max-height: 380px;
}
.righttop{
	padding: 12px 8px;
	max-height: 380px;
	margin-bottom: 10px;
}
