.nav{
	width:100%;
	height: 60px;
	margin:0 auto;
	background-color: #fff;
	border-bottom:1px solid #E7161A;
}
.nav .nav_left{
	float:left;
	margin-top: 10px;
	margin-left: 100px;
}
.nav_left img{
	width:150px;
	z-index: 1000000;
}
.nav .nav_right{
	float:right;
}
.nav .nav_right div{
	padding:5px;
	margin-right: 20px;
	width:310px;
}
.nav .nav_right div a{
	color:#b20822;
	font: :15px "微软雅黑";
	line-height: 50px;
}
.nav .nav_right .navrightd{
	margin-right: 100px;
}
.nleft a{
	color:#b20822;
	font: :15px "微软雅黑";
	line-height: 40px;
}
.wxcont{
	position: relative;
}
.wxtop{
	position:absolute;
	top:40px;
	left:30px;
	display: none;
}
.wxfa{
	display: inline-block;
}
.wxfa:hover .wxtop{
	display: block;
}

/*==============*/
.viewer{
    height: 500px;
    /*border: 1px solid black;*/
    position: relative;
}
.wrapper{
    overflow: hidden;
}

/*============*/
.carname{
	width:1100px;
	margin:0 auto;
	font:20px "微软雅黑";
	line-height: 30px;
	font-weight: 700;
	padding:10px 0px 10px 5px;
	/*background: #eaeaea;*/
}
.block{
	float: right;
}
.block a{
	display: inline-block;
	font-size: 15px;
	background: #e94740;
	color:#fff;
	padding-right: 10px;
	padding-left: 10px;
}
.cont{
	width:1024px;
	min-height:600px;
	margin:0 auto;
}

#fixed_hdr2 .tr td{
	background-color: #e94740;
	color:#fff;
}
.tr1{
	background: #e94740 !important;
	color:#fff;
}
#checkbox{
	width:1200px;
	margin:0 auto;
}
#checkbox p{
	padding:0px;
	margin:0px;
}
#checkbox table{
	width:100%;
}
table th{
	border:1px solid #ccc;
	text-align: center;
	line-height: 33px;
	background: #DBEAF9;
}
tbody td{
	border:1px solid #ccc;
	line-height: 33px;
}
tbody tr:nth-child(2n){
	background: #f0f3f6;
}
tbody td{
	word-break:break-all;
}
#btn{
	border:0px;
	background: #fff;
	color:#1296db;
}
#btn img{
	height:30px;
}
.table_right{
	width:40%;
	margin-right: 3%;
}
/*=======*/

.footer{
	width:100%;
	background-color: #4b4b4b;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 30px;
}
.footer p{
	line-height: 20px;
	color:#eee;
	font-size: 12px;
	margin:0;
}
.footer p span{
	padding-left:10px;
	padding-right:10px;
}