p{
	margin-bottom: 0;
}
button{
    background: #fff;
    outline:none!important;
}
.BMap_Marker img{
	width: 36px;
	height:auto ;
}
body{
	background: #efefef;
	font-family: PingFangSC-Semibold, sans-serif;
}
a{
	font-family: PingFangSC-Semibold, sans-serif;
}
nav{
	 background: #096a8d;
	 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4)
}
.nav-link{
	width: 80px;
	float: right;
}
.navbar{
    padding-left: 5rem;
    padding-right: 5rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-brand{
    margin-right: 0;
}
.container-fluid{
	overflow: hidden;
}
.nav-link.active{
	border-bottom: 2px solid #faad13;
}
.navbar-toggler{
    float: right;
}
.logo{
	width:auto;
	height:40px;
	margin-left: 10px;
}
.navbar-brand{
    padding: 0;
}
.logoText{
	font-size: 14px;
	margin-left: 10px;
	width: 110px;
    display: none;
}
.logoText p{
    text-align-last: justify;
}
.vinspan{
    display: none;
}
.vin{
    width: 190px;
    margin:6px 0 0 14px;
}
.banner{
	margin-top: 20px;
	position: relative;
}
.banner img{
	display: none;
}
.banner img:first-child{
	display: block;
}
.bannerText{
	position: absolute;
	top: 20%;
	right: 10%;
	color: #fff;
}
.bannerText h1{
	text-shadow: 3px 3px 3px #4394ef;
}
.bannerText h5{
	text-align-last: justify;
	-webkit-animation-delay: 0.2s !important;
	animation-delay: 0.2s !important;
}
#section1{
	margin-top: -14%;
	z-index:1000;
	position: relative;
}
.list{
	background: #fff;
	box-shadow: 0px 0px 3px #ccc;
}
.sectionTitle{
	width: auto;
	height: 50px;
}

/*公司介绍*/
.list1{
	padding-top:35px;
}
.listFlex{
    display: flex;
    padding: 0 55px;
}
.bulb{
    width: auto;
    height: 310px;
}
.sectionContent{
	padding-top: 35px;
    padding-right: 75px ;
	font-size: 14px;
}
.sectionContent p{
	line-height: 24px;
	margin-top: 10px;	
	letter-spacing:2px;
}
.btnDetails:hover{
    color: #fff;
    background: #87b9f6;
}
/*服务项目*/
.list2{
	padding-top: 25px;
	padding-bottom: 15px;
}
.list2 .sectionContent{
	padding-left: 0;
	padding-right:0;
	margin: 0 15px;
}
.section2List{
	padding-top: 25px;	
	text-align: center;
	font-size: 14px;
	padding-bottom:15px;
	top: 0;
	border-radius: 5px;
	cursor: pointer;
	transition: .4s ease;
}
.section2List:hover{
	box-shadow: 1px 1px 8px #ccc;
	transform: translateY(-15px);
}
.section2List .border{
	width: 140px;
	height: 140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section2List .img{
	height: 60px;
	width: auto;
}
.section2List .p{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;	
}
.section2List .line{
	text-align: left;
	padding-left: 50px;
	line-height: 24px;
	width: 85%;
	color: #a9a9a9;
}
.section2List:nth-child(1) .line,.section2List:nth-child(2) .line{
	padding-left: 33%;
}
.section2List:nth-child(3) .line,.section2List:nth-child(4) .line{
	padding-left: 15%;
}
.section2List .box{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #f2ae3f;
	margin-left: -18px;
	margin-right: 7px;
}
/*独特优势*/
.list3{
    padding: 0;
    background:url("../img/bg.jpg") no-repeat ;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-bottom: 30px;
}
.list3 .sectionTitle{
    margin-left: 15px;
    margin-top: 15px;
}
.carousel-item img{
	width: 50%;	
	height: auto;
	margin: 0 auto;
	display: block;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	background-image:none ;
}
.s3Flex{
    display: flex;
    margin-top: 30px;
}
.flexLeft{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.flexLeft button{
    color: #508bb7;
    border-radius: 0 12px 12px 0;
    line-height: 55px;
    width: 110px;
    cursor: pointer;
}
.flexLeft .fbtn{
    background: #508bb7;
    color: #fff;
}
.flexRight{
    border-radius: 8px;
    overflow: hidden;
    margin-left: 15%;
}
.flexRight img{
    width: 95%;
    height: auto;
}
.section3Content{
	padding: 0 30px;
	margin-bottom: 25px;
}
.section3Content h5{
	color: #147bfc;
	position: relative;
}
.section3Content p{
	color: #1a0f09;
	font-size: 14px;
	margin-top: 10px;
	letter-spacing:2px;
}
.Taiwan img{
	width: 50%;	
}
.Taiwan,.shengpai{
	overflow: hidden;
	padding:7px;
	border: 1px solid #efefef;
}
.TaiwanRight,.shengpaiRight{
	padding-top:15px ;
}
.shengpai,.shengpaiRight{
	-webkit-animation-delay: 0.2s !important;
	animation-delay: 0.2s !important;	
}
/*产品展示*/
#section3{
	position: relative;
	z-index: 100;
	/*margin-bottom: -160px;*/
}
.list4{
	padding-top: 25px;
}
.list4 .text{
    text-align: right;
    color: #3c3c3c;
    padding-right: 20px;
}
/*经营品牌*/
.list5 .sectionTitle{
    width: 230px;
    height: auto;
    padding-bottom: 30px;
    margin-top: 15px;
}
.list5 .wrap{
    background: #f9f8f6;
    padding: 10px 0;
    position: relative;
    height: 95px;
    margin: 0 -15px;
}
.banWrap{
    width: 84%;
    margin-left: 7%;
    overflow: hidden;
}
/*无缝滚动CSS*/
.simply-scroll {
    height: 75px;
}
.simply-scroll-container {
    position: relative;
}
.simply-scroll-clip{
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*end*/
.banWrap ul{
    display: flex;
    margin-bottom: 0;
}
.banWrap ul li{
    padding: 0 5px;
}
.banWrap ul li img{
    width: auto;
    height: 75px;
}
.list5-banner{
    margin: 0 -15px;
}

/*招聘信息*/
#section6{
    position: relative;
    margin-bottom: -60px;
    z-index: 100;
}
.list6{
    background: #fff url(../img/bg2.png) no-repeat right bottom/auto 160px;
}
.list6 .sectionTitle{
    margin-top: 25px;
}
.jobtitle{
    border-bottom: 1px solid #caddec;
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 35px;
}
.jobtitle button{
    height: 45px;
    font-size: 18px;
    padding: 0 30px;
    cursor: pointer;
}
.jobtitle .jobBtn{
    background: #508bb7;
    color: #fff;
}
.jobtext{
    height: 220px;
    padding: 15px 0 0 70px;
    color: #1a0f09;
    line-height: 30px;
    letter-spacing: 2px;
}
.jobtext ul{
    display: none;
}
.jobtext ul:first-child{
    display: block;
}


/*地图*/
.mapWrap{
	position: relative;
}
#map{
	height: 400px;
}
.anchorBL img{
	opacity: 0 !important;
}
.BMap_scaleCtrl{
	left: 5px !important;
}
.BMap_cpyCtrl{
	opacity: 0 !important;
}
/*电话*/
.callWrap{
	position: absolute;
	z-index: 100;
	bottom: 35px;
	right: 35px;
	-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
}
.callWrap img{
	width: auto;
	height: 80px;
}
.callWrap:hover{
	box-shadow: 1px 1px 8px #ccc;
	-webkit-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);
	-webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
}
.Top{
	position: absolute;
	right: 20px;
	top: 40px;
}
.Top a{
	text-decoration: none;
}
.Top i{
	font-size: 42px;	
}
.tooltip{
	top: -8px !important;
}
#qrcode{
    width: 30px;
    height: 30px;
    transform-origin: 50% 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#qrcode:hover{
    transform: scale(6,6);
}

/*尾部*/
footer{
	background: #80b3c8;
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
	letter-spacing: 2px;
}

/*显示隐藏*/
@media screen and (max-width: 600px){
	.logoText,.bannerText{
		display: none;
	}
}
